 
  {{!-- <div class="jumbotron">
    <h1>Welcome to Eat-da-burger!</h1>
    <hr>
    <h2>Add a Burger</h2>
    <h3>Add your favorite types of burgers below to eat!</h3> --}}
     {{!-- <div class="row justify-content-center"> --}}
    {{!-- <form class="create-form"> --}}
    
<div id="bg-img">
<div class="container-fluid">

  <div class="container" id="fluid-text">
    <h1 class="display-4">Welcome to Eat-Da-Burger!</h1>
    <p class="lead">This burger joint allows your to create your own burgers! Create yours below:</p>

<form class="form-inline">
  <div class="form-group mb-2">
      {{!-- <div class="form-group"> --}}
        <h5><label for="newBurger">Burger Name:   </label></h5>
        <input type="text" class="form-control ml-2" id="newBurger" name="burger">
      </div>
 <div class="form-group mx-sm-3 mb-2">
      <button type="submit" class="btn btn-primary" id="addBurger"><span class="fa fa-cutlery"></span> Add Burger</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>


<div class="container" id="main">
{{!-- undevoured burgers --}}
<div class="row ">
    <div class="col-sm-6">
  <div class="card" id="card1">
    <div class="card-header">
      <h4>Undevoured Burgers</h4>
    </div>
    <div class="card-body">
      <p class="card-text">Click the devour button to eat the burger of your choice.</p>
        <ul>
        {{#each burgers}}
        {{#unless devoured}}
        
        <span> {{this.id}} : {{this.burger_name}} </span>
        {{> burgers/burger-block devoured=false}}
        <hr>
        {{/unless}}
        {{/each}}
      </ul>
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>
  </div>

  {{!-- <div class="col-sm-2 pr-3">
  </div> --}}
  
{{!-- devoured burgers --}}
    <div class="col-sm-6">
  <div class="card" id="card2">
    <div class="card-header">
      <h4>Devoured Burgers</h4>
    </div>
    <div class="card-body">
      <p class="card-text">Click the delete burger button to throw away your burger.</p>
        <ul>
        {{#each burgers}}
        {{#if devoured}}
        <span> {{this.id}} : {{this.burger_name}} </span>
        {{> burgers/burger-block devoured=true}}
        <hr>
        {{/if}}
        {{/each}}
      </ul>
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </div>
  </div>
  </div>
</div>
  {{!-- <div class="clear-fix"> --}}

  